a { color: #000000; }
    a:hover { text-decoration: none; color: #000000; }
    .tag-switch li { float: left;text-align:center}
    .tag-switch { border-bottom: 3px  }
    .tag-switch li a { line-height: 25px; width: 100%;font-size: 20px; }
    .tag-switch .active a { background-color: deepskyblue;color:#fff }
    .tag-switch li a:hover { background: deepskyblue; }
    .tag-switch li:last-child ul { margin-top:10px}
    .tag-switch li:last-child a{font-size:16px;padding:2px 5px;background:none;color:#000000}
    .tag-switch li:last-child ul .active a {  color:deepskyblue}